bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Week5Proj.dir/.idea/vcs.xml
/.idea/.idea.Week5Proj.dir/.idea/workspace.xml
/.idea/.idea.Week5Proj.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Week5Proj.dir/.idea/indexLayout.xml
/.idea/.idea.Week5Proj.dir/.idea/encodings.xml
